      <section class="section section--artist">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-md-12">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
                <div class="artist-intro">
                  <h3>Shop By Artist</h3>
                </div>
                {% for collection in collections %}
                  {% if collection.tags %}
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">BRIA NICOLE</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="col-xl-9 col-md-12">
              <div class="tab-content" id="v-pills-tabContent">
                
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" >
                  <div class="artist-slider">
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <div class="artist-slider">
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                  <div class="artist-slider">
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                  <div class="artist-slider">
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                    <div class="inner-slide">
                      <div class="artist-card">
                        <img
                          src="assets/img/art-1.png"
                          alt=""
                          class="img-fluid"
                        />
                        <h3>Cream lady tempered glass wall art</h3>
                        <h4>Modera-Art</h4>
                        <h5>$199.00 USD</h5>
                      </div>
                    </div>
                  </div>
                </div>
                  
              </div>
            </div>
          </div>
        </div>
      </section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
    {
      "name": "Shop By Specific Collection",
      "category": "ADVANCED LAYOUT"
    } 
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}